{% extends 'MopaBootstrapBundle::base.html.twig' %}

{% block head_style %}
   <link href="{{ asset('bundles/mopabootstrap/bootstrap/dist/css/bootstrap.min.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}

 {% block head_script %}

     <script type="text/javascript" src="http://code.jquery.com/jquery-1.11.1.js"></script>
     <script type="text/javascript" src="{{ asset('js/product1.js') }}"></script>
     <script type="text/javascript" src="{{ asset('bundles/mopabootstrap/bootstrap/js/modal.js') }}"></script>
     {% if is_error %}
         <script type="text/javascript">
             $(function(){
                 document.getElementById('myModalLabel').innerHTML = "Edit product";
                 $("#myModal").modal("show");
             });

         </script>
     {% endif %}
 {% endblock head_script %}

{% block title %}ProductList{% endblock %}

{% block headline %}Product list{% endblock %}

{% block content_content %}
    <div class="text-right">
        <a href="#myModal" role="button" class="btn add_new_product" data-toggle="modal" >Add new product</a>
    </div>
    <table class="table table-striped table-bordered">
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Action</th>
        </tr>
        {% for item in products %}
            <tr>
                <td>{{ item.title }}</td>
                <td>{{ item.description }}</td>
                <td>
                    <input type="hidden" value="{{ item.id }}">
                    <a href="#myModal" role="button" class="btn edit_product" onclick="fill_form(this.parentNode.parentNode)" data-toggle="modal" >edit</a>
                    <a href="/delete/{{ item.id }}" role="button" class="btn" onclick="return confirm('afdf')">delete</a>
                </td>
            </tr>
        {% endfor %}
    </table>

    <div class="modal" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-content">
            <div class="modal-header">
               <button type="button" class="close" onclick="clear_form()" data-dismiss="modal" aria-hidden="true">Close</button>
                <h3 id="myModalLabel">
                    New product
                </h3>
            </div>
            <div class="modal-body text-center">
                {{ form_start(form) }}
                {{ form_errors(form) }}
                <div class="form-group">
                    {{ form_label(form.title) }}
                    <div class="col-sm-9">
                        {{ form_errors(form.title) }}
                        {{ form_widget(form.title) }}
                    </div>
                </div>
                <div class="form-group">
                    {{ form_label(form.description) }}
                    <div class="col-sm-9">
                        {{ form_errors(form.description) }}
                        {{ form_widget(form.description) }}
                    </div>
                </div>
                {#{{ form_widget(form) }}#}
                {{ form_end(form) }}
            </div>

        </div>
    </div>

{% endblock content_content %}

{% block content_sidebar %}
{% endblock%}

{% block footer %}
{% endblock %}
